BACKEND_DEV_URL=
BACKEND_PROD_URL=
API_KEY_DEV=
API_KEY_PROD=
AUTH_DOMAIN_DEV=
PROJECT_ID_DEV=
STORAGE_BUCKET_DEV=
MESSAGING_SENDER_ID_DEV=
APP_ID_DEV=
MEASUREMENT_ID_DEV=
AUTH_DOMAIN_PROD=
PROJECT_ID_PROD=
STORAGE_BUCKET_PROD=
MESSAGING_SENDER_ID_PROD=
APP_ID_PROD=
MEASUREMENT_ID_PROD=